$primary-color: #ff5733;
$secondary-color: #fbf0ee;
$white: #ffffff;
$black: #000;
$sub-black: #4d4d4d;
$sub-header: #ab9e97;
$background-color: #f4f5fe;
$sub-paragraph: #857f7d;
$contact-sub-header: #9894a4;
$placeholer-color: #bdbbc5;
$footer-social-link: #ffffff33;
$footer-sub-header: #bbbbbb;
